<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>458829692791-ojjbq3akt8b4894a90i356h6udd0tb32.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.458829692791-ojjbq3akt8b4894a90i356h6udd0tb32</string>
	<key>API_KEY</key>
	<string>AIzaSyCk4qh5IANzIv9AAMQQgbr5oOZw50OVzBw</string>
	<key>GCM_SENDER_ID</key>
	<string>458829692791</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.uab</string>
	<key>PROJECT_ID</key>
	<string>mediuab-3fcaf</string>
	<key>STORAGE_BUCKET</key>
	<string>mediuab-3fcaf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:458829692791:ios:1313687b41f1d244d66b72</string>
</dict>
</plist>